@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

#product .container {
  max-width: 1400px;
  margin: auto;
}

#product .container .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

#product .container .cards .card {
  border: 4px dotted #555556;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-animation: clocked 3s linear infinite;
          animation: clocked 3s linear infinite;
  -webkit-box-shadow: 0px 12px 44px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 12px 44px 0px rgba(0, 0, 0, 0.1);
}

#product .container .cards .card .clock {
  font-size: 45px;
  font-weight: 700;
  font-size: 50px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@-webkit-keyframes clocked {
  0% {
    -webkit-transform: translateY(0deg);
            transform: translateY(0deg);
  }
  50% {
    -webkit-transform: translateY(1800deg);
            transform: translateY(1800deg);
    border: 5px dotted #535454;
  }
  100% {
    -webkit-transform: translateY(360deg);
            transform: translateY(360deg);
    border: 6px dotted #434343;
  }
}

@keyframes clocked {
  0% {
    -webkit-transform: translateY(0deg);
            transform: translateY(0deg);
  }
  50% {
    -webkit-transform: translateY(1800deg);
            transform: translateY(1800deg);
    border: 5px dotted #535454;
  }
  100% {
    -webkit-transform: translateY(360deg);
            transform: translateY(360deg);
    border: 6px dotted #434343;
  }
}
/*# sourceMappingURL=style.css.map */